.trans{
    backdrop-filter: blur(10px)!important;
    background-color: rgba(227, 252, 255, 0.644);
}
.card{
    max-width: 400px;
}
select, input[type="text"]{
    width: 15vw!important;
}
body{
    display: flex;
    flex-direction: column!important;
}
.top-10{
    position: sticky;
    top: 12%;
}
option{
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    border-radius: 20%;  
}
i{
    font-size: 1.7rem;
}
.favorite-btn{
    background-image: url('../img/bx-heart.svg');
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.favorite-btn:hover{
    background-image: url('../img/bxs-heart.svg');
}
.clicked{
    background-image: url('../img/bxs-heart.svg');
}
.card{
    max-width: 90%!important;
}
