.trans::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(227, 252, 255, 0.644);
    z-index: -1;
}
.card{
    max-width: 400px;
}
select, input[type="text"]{
    width: 15vw!important;
}
body{
    display: flex;
    flex-direction: column!important;
}
.top-10{
    position: sticky;
    top: 12%;
}
option{
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    border-radius: 20%;  
}
i{
    font-size: 1.7rem;
}
.favorite-btn{
    background-image: url('../img/bx-heart.svg');
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.favorite-btn:hover{
    background-image: url('../img/bxs-heart.svg');
}
.clicked{
    background-image: url('../img/bxs-heart.svg');
}
.card{
    max-width: 90%!important;
}
.dis{
    display: none!important;
}

.open-filter{
    display: block!important;
    float: left;
    z-index: 1040!important;
    background-color: rgba(156, 156, 156, 0.301);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    height: 85%;
    transform: translateX(50%);
}
.filter-button{
   display: none!important;
}
.acc{
    margin-top: 4vh;
    transform: scaleX(0.7);
}
@media (max-width: 768px) {
    .card{
        max-width: 100%!important;
    }
    .filter{
        transform: translateX(0%);
        width: 100%;
        z-index: 1040;
        position: fixed;
        
        display: none;
    }
    input[type="text"]{
        width: 100%!important;
    }
    .filter-button{
        display: block!important;
    }
    select{
        width: 100%!important;
    }
}
@media (max-width: 768px) {
  .offcanvas.offcanvas-end {
    width: 100%;
  }
}
@media (max-width:1080px){
    .container-fluid{
        grid-row: auto!important;
    }
}